[Desktop Entry]
Name=Unity Builder Dash
Comment=Build and deploy Unity projects
Exec=python3 /home/pavel/DEV/unity-builder-dash/build.py
Path=/home/pavel/DEV/unity-builder-dash
Type=Application
Categories=Development;
StartupWMClass=com.PavelKhabusov.UnityBuilderDash
Icon=/home/pavel/DEV/unity-builder-dash/icons/ubd-app-icon.png
